<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand  align-items-center" href="#page-top">Bài thi trắc nghiệm java</a>
        <!-- <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto"> -->
                <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#portfolio">Portfolio</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a> -->
                <!-- </li> -->
                <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded">Xem Điểm Thi</a></li> -->
            <!-- </ul> -->
        <!-- </div> -->
    </div>
</nav>
<section class="page-section portfolio" id="portfolio">

    <div class="row">
        <div class="col-sm-2 mt-5">
           
            <ul>
                <li class=" bg-secondary text-center mb-2 " >
                    <a  class="nav-link align-middle px-0">
                       <span class="ms-1  d-sm-inline text-white fs-4">Bài kiểm tra</span>
                    </a>
                </li>
                <li class=" bg-secondary text-center mb-2 " >
                    <a  class="nav-link align-middle px-0">
                       <span class="ms-1 d-sm-inline text-white fs-4">Kết quả kiểm tra</span>
                    </a>
                </li>
            </ul>
        </div>
      
        <div class="col-sm-8">
            <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12 col-lg-12">
                        <div class="border">
                            <div class="question bg-white p-3 border-bottom">
                                <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                    <h4>Câu số: {{questionNo +1}}</h4><span>(Tổng số: {{questions.length}} câu hỏi)</span>
                                </div>
                            </div>
                            <div class="question bg-white p-3 border-bottom">
                                <div class="d-flex flex-row align-items-center question-title" >
                                    <h3 class="text-danger">Q.</h3>
                                    <h5 class="mt-1 ml-2"> {{questions[questionNo].title}}?</h5>
                                </div>
                                <div>
                                    <div [innerHTML]="htmlContent"></div>
                                </div>
                                <div class="mt-5">
                                    <div class="form-check form-group mb-2" *ngFor="let item of questions[questionNo].answerDTOS">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"  [checked]="item.status" (click)="onClickChecBox(item)" [disabled]="isDisabled" />
                                        <label class="form-check-label" for="flexCheckDefault">{{item.answer}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                <button
                                    class="btn btn-primary d-flex align-items-center btn-danger" type="button" (click)="previousQuestion()">
                                    Câu hỏi trước
                                </button>
                                <button
                                    class="btn btn-primary border-success align-items-center btn-success" type="button" (click)="nextQuestion()">Câu hỏi tiếp theo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-5 ">
            
                <div class="bg-danger">
                    <h5 class="  text-white text-center pt-3 " for=""> THỜI GIAN LÀM BÀI </h5>
                   
                    <hr style="background-color:white">
                    <h1  class="text-center justify-content-center pb-2"><countdown [config]="{leftTime: 7200}"></countdown></h1>
                </div>
                <hr>

            <div class=" bg-secondary  pt-2 pb-1 px-1 text-white ">
              <h5 class="text-center"> Danh sách câu hỏi</h5> 
            </div>
            <div class=" d-flex align-items-top  text-center">
                <div id="grid"  *ngFor="let question of questions ; let i = index">
                    <a><div class="cell fs-3 " (click)="openQuestion(i)">{{i+1}}</div></a>
                    <!-- <div class="cell">2</div>
                    <div class="cell">3</div>
                    <div class="cell">4</div>
                    <div class="cell">5</div>
                    <div class="cell">6</div>
                    <div class="cell">7</div>
                    <div class="cell">8</div>
                    <div class="cell">9</div>
                    <div class="cell">10</div>
                    <div class="cell">11</div>
                    <div class="cell">12</div>
                    <div class="cell">13</div>
                    <div class="cell">14</div>
                    <div class="cell">15</div>
                    <div class="cell">16</div>
                    <div class="cell">17</div>
                    <div class="cell">18</div>
                    <div class="cell">19</div>
                    <div class="cell">20</div> -->
                </div>            
            </div>
            <div class="d-grid mt-5">
                <button class="btn btn-primary fs-3" type="button">Gửi Bài</button>
            </div>
        </div>

       

    </div>
</section>
<footer class="footer text-center">
    <!-- <div class="container">
        <div class="row"> -->
            <!-- Footer Location-->
            <!-- <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    2215 John Daniel Drive
                    <br />
                    Clark, MO 65243
                </p>
            </div> -->
            <!-- Footer Social Icons-->
            <!-- <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div> -->
            <!-- Footer About Text-->
            <!-- <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="lead mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by
                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                    .
                </p>
            </div> -->
        <!-- </div>
    </div> -->
</footer>