<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand  align-items-center" href="#page-top">Bài thi trắc nghiệm java</a>
        <!-- <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto"> -->
                <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                        href="#portfolio">Portfolio</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a> -->
                <!-- </li> -->
                <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded">Xem Điểm Thi</a></li> -->
            <!-- </ul> -->
        <!-- </div> -->
        <span class="text-white">Họ và tên: {{user.name}}</span>
    </div>
</nav>
<section class="page-section portfolio" id="portfolio">
    <div class="d-flex fs-5">

        <div class="col-sm-2 mt-5" >
            <div  style="position: fixed ;left: 2%;">
                <div class="bg-danger">
                    <h5 class="  text-white text-center pt-3 fs-5 px-2" for=""> THỜI GIAN LÀM BÀI </h5>

                <hr style="background-color:white">
                <h1 class="text-center justify-content-center pb-2">
                    <countdown #countdown [config]="{leftTime: time}" (event)="handleEventCountDown($event)" (notify)="onNotify($event)">
                    </countdown>
                </h1>
                </div>
                <hr>
                <div class="d-grid">
                    <button class="btn btn-primary fs-5" type="button" (click)="openModal()">Kết thúc bài
                        thi</button>
                </div>
            </div>
            
            <!-- <ul> -->
                <!-- <li class=" bg-secondary text-center mb-2 " >
                    <a  class="nav-link align-middle px-0">
                       <span class=" btn ms-1  d-sm-inline text-white fs-4" routerLink="/quiz">Bài kiểm tra</span>
                    </a>
                </li>
                <li class=" bg-secondary text-center mb-2 " >
                    <a  class="nav-link align-middle px-0">
                       <span class=" btn ms-1 d-sm-inline text-white fs-4" (click)="redirectToResultTest()">Kết quả kiểm tra</span>
                    </a>
                </li> -->
                <!-- <li class=" bg-secondary mb-2 ">
                    <a class="nav-link align-middle px-0">
                        <span class=" btn ms-1 d-sm-inline text-white fs-5">Làm lại</span>
                    </a>
                </li>
            </ul> -->
        </div>

        <div class="col-sm-8 fs-5">
            <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12 col-lg-12">
                        <div class="border">
                            <div class="question bg-white p-3 border-bottom">
                                <div #elmreview class="d-flex flex-row justify-content-between align-items-center mcq">
                                    <h4>Câu số: {{questionNo +1}}</h4>
                                    <span>(Tổng số: {{questions.length}} câu hỏi)</span>
                                    <span class="form-check form-group mb-2 float-end">
                                        <label class="form-check-label" for="review">Xem lại</label>
                                        <input class="form-check-input" id="review" type="checkbox" [checked]="questions[questionNo].review"  [ngClass]="'review'+ questionNo" (click)="onClickedReviewCheckbox( questionNo, questions[questionNo])"/>
                                    </span>
                                </div>
                            </div>
                            <div class="question bg-white p-3 border-bottom">
                                <div class="d-flex flex-row align-items-center question-title">
                                    <h3 class="text-danger">Q.</h3>
                                    <h5 class="mt-1 ml-2"> {{questions[questionNo].title}}?</h5>
                                </div>
                                <div>
                                    <div [innerHTML]="questions[questionNo].description"></div>
                                    <!-- <div [innerHTML]="htmlContent"></div> -->
                                </div>
                                <div class="mt-5">
                                    <div class="form-check form-group mb-2"
                                        *ngFor="let option of questions[questionNo].answerDTOS">
                                        <input class="form-check-input"  type="checkbox" value="" [id]="option.id"
                                            [checked]="option.status" (click)="onClickChecBox(option, questions[questionNo] )"
                                            [disabled]="isDisabled" />
                                        <label class="form-check-label" [for]="option.id">{{option.answer}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                <button class="btn btn-primary d-flex align-items-center btn-danger" type="button"
                                    (click)="previousQuestion()">
                                    Câu trước
                                </button>
                                <button class="btn btn-primary border-success align-items-center btn-success"
                                    type="button" (click)="nextQuestion()">Câu tiếp theo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12 mt-5 col-2-right ">
            <div style="position: fixed ;left: 83%;">
        
                <div class=" bg-secondary  pt-2 pb-1 px-1 text-white" style="margin-right: 5px;">
                    <h5 class="text-center"> Danh sách câu hỏi</h5>
                </div>
                <div #elmoption>
                    <div class="align-items-top mt-1">
                        <div style="    display: flex;
                            flex-wrap: wrap;
                            justify-content: start;">
                            <div id="grid" *ngFor="let question of questions ; let i = index" style="margin-right: 5px;">
                                <a>                                    
                                    <div class=" btn cell d-flex" [ngClass]="'id'+ question.id" (click)="openQuestion(i)">
                                        {{i+1}} </div>
                                </a>
                                <!-- <a *ngIf="!checkClickOption(question)">                                    
                                    <div class=" btn cell d-flex" [ngClass]="'id'+ question.id"  (click)="openQuestion(i)">
                                        {{i+1}} </div>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<modal #myModal>
    <modal-header style="color: blue">
         <h4><i class="fa-solid fa-triangle-exclamation"></i> Thông báo !</h4>
    </modal-header>
 
    <modal-content>
       
        <h4 class="text-primary"  *ngIf="isQuized" >Bạn sẽ kết thúc làm bài ngay bây giờ !</h4>
       
        <h4 class="text-primary"  *ngIf="!isQuized">Bạn chưa thực hiện bài thi !</h4>
    </modal-content>
 
    <modal-footer>
        <button class="btn btn-secondary" (click)="closeModal()">Quay lại</button> 
        &nbsp;&nbsp;&nbsp; <button class="ml-3 btn btn-primary"  *ngIf="isQuized" (click)="submitResultTest()">Kết thúc</button>
    </modal-footer>
</modal>

<modal #myModalTimer>
    <modal-header style="color: blue">
         <h4><i class="fa-solid fa-triangle-exclamation"></i> Thông báo !</h4>
    </modal-header>
 
    <modal-content>
        <h4 class="text-primary">Hết thời gian làm bài, hệ thống sẽ tự động gửi bài thi ngay bây giờ!</h4>
    </modal-content>
 
    <modal-footer>
        <button class="btn btn-secondary" (click)="closeModal()">Quay lại</button> 
        &nbsp;&nbsp;&nbsp; <button class="ml-3 btn btn-primary"  *ngIf="isQuized" (click)="submitResultTest()">Kết thúc</button>
    </modal-footer>
</modal>
